<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <img class="portrait" src="./images/robot.png">
                <p>This site was created by Srini. It uses data from MapBox and Weather stack</p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>