<!DOCTYPE html>
<html>
    <head>
                <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Help</h1>
            <p>{{ message }} - Sent from:- {{ name }}</p>
        </div>

        {{>footer}}
    </body>
</html>